.title {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  position: relative;
  padding: 8px 0;
  margin-bottom: 40px;
}

.title::after {
  content: "";
  background-color: var(--white);
  width: 50px;
  height: 2.5px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.content {
  width: 89%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  overflow: hidden;
}

.para {
  margin: 20px auto;
}

.text {
  font-size: 14.5px;
  word-spacing: 0.13rem;
  text-align: left;
  color: var(--grey);
  margin-bottom: 8px;
}

.link {
  color: var(--cyan);
  position: relative;
  padding-bottom: 1.5px;
}

.link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  display: inline-block;
  left: 0;
  bottom: 0;
  background-color: var(--cyan);
  transition: 0.3s;
}

.link:hover::after {
  width: 100%;
}

.img_container {
  width: 70%;
  position: relative;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--cyan); }
}

.img {
  --s: 14px;  /* size of the frame */
  --b: 1.4px;   /* border thickness */
  --w: 260px; /* width of the image */
  --c: var(--cyan);

  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  padding: calc(2 * var(--s));

  --_g: var(--c) var(--b), #0000 0 calc(100% - var(--b)), var(--c) 0;

  background:
    linear-gradient(var(--_g)) 50% / 100% var(--_i, 100%) no-repeat,
    linear-gradient(90deg, var(--_g)) 50%/var(--_i, 100%) 100% no-repeat;
  outline: calc(var(--w) / 2) solid #0009;
  outline-offset: calc(var(--w) / -2 - 2 * var(--s));
  transition: 0.4s;
  cursor: pointer;
}

.img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: calc(var(--s) / -2);

  --_i: calc(100% - 2 * var(--s));
}

@media screen and (min-width: 480px) {
  .title {
    font-size: 1.9rem;
  }

  .content {
    align-items: flex-start;
  }

  .para {
    font-size: 15px;
  }

  .img_container {
    width: 260px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .content {
    align-items: center;
  }

  .para {
    margin: 0;
  }

  .text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .para {
    width: 60%;
  }

  .img_container {
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    width: 820px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 2.3rem;
  }

  .title::after {
    width: 80px;
  }

  .para {
    width: 70%;
  }

  .content {
    width: 970px;
  }

  .img_container {
    width: 320px;
  }
}

@media screen and (min-width: 1400px) {
  .content {
    width: 1062px;
  }

  .para {
    width: 67%;
  }
}
