.slider {
    width: 100%;
    margin-bottom: 30px;
}

.slick_dots li button::before {
    font-size: 0.4rem !important;
    opacity: 1 !important;
    /* color: var(--white) !important; */
}

.slick_dots li.slick-active button::before {
    color: var(--cyan) !important;
}

.img {
    width: 100%;
    height: 190px;
    margin: 0 auto;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 480px) {
    .img {
        height: 200px;
    }
}

@media screen and (min-width: 768px) {
    .slick_dots li button::before {
    font-size: 0.55rem;
    }

    .img {
        height: 320px;
    }
}
