.title {
    font-size: 1.4rem;
    text-align: center;
    position: relative;
    padding: 8px 0;
    margin-top: 70px;
    margin-bottom: 40px;
}

.title::after {
    content: "";
    background-color: var(--white);
    width: 50px;
    height: 2.5px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}