.title {
    font-size: 1.8rem;
    text-align: center;
    position: relative;
    padding: 8px 0;
    margin-top: 70px;
    margin-bottom: 40px;
}

.title::after {
    content: "";
    background-color: var(--white);
    width: 50px;
    height: 2.5px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.subtitle {
    text-align: center;
    font-size: 0.9rem;
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--white);
}

.form {
    width: 90%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    /* border: 1px solid red; */
}

.input {
    width: 100%;
    padding: 8px 12px;
    outline: none;
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--cyan);
    background-color: var(--dark-blue);
}

.input:placeholder-shown {
    color: var(--white);
}

.textarea {
    height: 180px;
}

.btn {
    color: var(--cyan);
    border: 1px solid var(--cyan);
    border-radius: 3px;
    padding: 10px 12px;
    transition: 0.25s;
}

.btn:hover,
.btn:focus {
    box-shadow: inset -4em 0 0 0 var(--light-grey), inset 4em 0 0 0 var(--light-grey); 
}

.error {
    display: none;
}