#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 320px;
  z-index: -2;
  background-color: var(--light-blue);
}

.up_icon_container {
  width: fit-content;
  margin: 20px auto;
  animation-name: floating;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0, 0); }
  50% { transform: translate(0, 7px); }
  100% { transform: translate(0, -0); }
}

.title {
  position: relative;
  text-align: center;
}

.text {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 7px;
  color: #fff;
  background-color: var(--light-blue) !important;
  z-index: -1;
}

.title::after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  top: 9px;
  left: 0;
  z-index: -2;
  height: 8px;
}

.icon_container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.up_overlay {
  border: none;
}

.overlay:hover,
.overlay:active {
  cursor: pointer;
}

.up_overlay:hover,
.up_overlay:active {
  background-color: transparent;
}

.icon,
.icon_hover {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  transition: all 0.2s ease-out;
}

.up_icon,
.up_icon_hover {
  padding: 8px;
}

.icon_hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translate(-100%, 0);
}

.up_icon_hover {
  transform: translate(0, 100%);
}

.overlay:hover .icon {
  opacity: 0;
  transform: translate(100%, 0);
}

.overlay:hover .up_icon {
  transform: translate(0, -100%);
}

.overlay:hover .icon_hover,
.overlay:active .icon_hover {
  opacity: 1;
  transform: translate(0, 0);
}

.overlay:hover .up_icon_hover,
.overlay:active .up_icon_hover {
  color: var(--cyan);
}

.p {
  margin-top: 30px;
  display: block;
  text-decoration: none;
  text-align: center;
}

.a {
  font-size: 0.75rem;
  color: var(--white);
  font-family: 'Montserrat Alternates', sans-serif;
  position: relative;
  padding-bottom: 1.8px;
}

.a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  display: inline-block;
  left: 50%;
  bottom: 0;
  background-color: var(--grey);
  transition: 0.3s;
}

.a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  display: inline-block;
  right: 50%;
  bottom: 0;
  background-color: var(--grey);
  transition: 0.3s;
}

.a:hover::after {
  width: 50%;
}

.a:hover::before {
  width: 50%;
}

.a:active {
  color: var(--cyan);
}

.span {
  font-size: 0.95rem;
}

@media screen and (min-width: 480px) {
  .icon_container {
    gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    width: 850px;
    margin: 0 auto;
  }

  .text {
    font-size: 1.1rem;
  }

  .title::after {
    height: 9px;
  }

  .icon_container {
    gap: 25px;
  }
}
