#footer {
  position: relative;
  background-color: #26517d;
  height: 300px;
}

.up_icon_container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon_container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.overlay {
  position: relative;
  overflow: hidden;
  color: var(--white);
  border: 1px solid var(--white);
}

.overlay:hover {
  cursor: pointer;
  color: var(--cyan);
  border-color: var(--cyan);
}

.overlay:active {
  border: 1px solid var(--cyan);
}

.icon,
.icon_hover {
  width: 40px;
  height: 40px;
  font-size: 1.1rem;
  padding: 9px;
  transition: all 0.2s ease-out;
}

.up_icon,
.up_icon_hover {
  width: 50px;
  height: 60px;
}

.icon_hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translate(-100%, 0);
}

.up_icon {
  background-color: var(--dark-blue);
}

.up_icon_hover {
  transform: translate(0, 100%);
}

.overlay:hover .icon {
  opacity: 0;
  transform: translate(100%, 0);
}

.overlay:hover .up_icon {
  transform: translate(0, -100%);
}

.overlay:hover .icon_hover,
.overlay:active .icon_hover {
  color: var(--cyan);
  opacity: 1;
  transform: translate(0, 0);
}

.overlay:hover .up_icon_hover,
.overlay:active .up_icon_hover {
  color: var(--white);
  background-color: var(--cyan);
}

.p {
  display: block;
  text-decoration: none;
  text-align: center;
}

.a {
  font-size: 0.8rem;
  color: var(--grey);
  font-family: 'Montserrat Alternates', sans-serif;
  position: relative;
  padding-bottom: 1.8px;
}

.a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  display: inline-block;
  left: 50%;
  bottom: 0;
  background-color: var(--grey);
  transition: 0.3s;
}

.a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  display: inline-block;
  right: 50%;
  bottom: 0;
  background-color: var(--grey);
  transition: 0.3s;
}

.a:hover::after {
  width: 50%;
}

.a:hover::before {
  width: 50%;
}

.a:active {
  color: var(--cyan);
}

.span {
  font-size: 0.95rem;
}

@media screen and (min-width: 1200px) {
  .icon_container {
    gap: 40px;
  }

  .icon {
    width: 45px;
    height: 45px;
    padding: 10px;
  }

  .icon_hover {
    width: 45px;
    height: 45px;
    padding: 10px;
  }
}
