.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 0;
}

.intro {
   font-family: 'Bungee Outline', cursive;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 1.7rem;
    color: var(--cyan);
    text-align: center;
}

.name {
    font-family: 'Bungee', cursive;
    color: var(--white);
}

.desc {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 0.75rem;
    word-spacing: 0.15rem;
    margin-bottom: 15px;
    color: var(--white);
}

.btn {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 0.7rem;
    padding: 7px 10px;
    border: 1px solid var(--grey);
    transition: 0.4s;
    color: var(--white);
}

.arrow {
    margin-left: 5px;
    font-size: 14px;
    display: inline;
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    box-shadow: inset -7em 0 0 0 var(--light-grey), inset 7em 0 0 0 var(--light-grey); 
    color: var(--cyan);
    border: 1px solid var(--cyan);
}

.btn:hover .arrow {
    transform: rotate(90deg);
}

@media screen and (min-width: 480px) {
    .intro {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .desc {
        font-size: 1rem;
    }

    .btn {
        font-size: 0.9rem;
        padding: 8px 13px;
    }

    .arrow {
        margin-left: 6px;
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    .intro {
        font-size: 1.5rem;
        line-height: 2.1rem;
    }

    .desc {
        font-size: 1.03rem;
    }

    .btn {
        font-size: 0.95rem;
    }

    .arrow {
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    .intro {
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
        line-height: 2.4rem;
    }

    .desc {
        font-size: 1.1rem;
        margin-bottom: 20px;
    }

    .btn {
        font-size: 1.03rem;
        padding: 10px 15px;
    }

    .arrow {
        margin-left: 7px;
        font-size: 19px;
    }
}
