:root {
    --navy: #030b25;
    --cyan: #22abfa;
    --white: #e6f1ff;
    --grey: #b1bcdc;
}

.navbar {
    padding: 18px 60px 18px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
    box-shadow: 0px 1px 3px #000311;
}

.logo {
    width: 70px;
    height: auto;
}

.navlink {
    font-size: 14px;
    display: flex;
    gap: 35px;
    color: var(--grey);
}

.font {
    font-family: 'Montserrat Alternates', sans-serif;
}

.font:hover {
    cursor: pointer;
}