.overlay {
  position: fixed;
  top: 65.5px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  backdrop-filter: blur(10px);
  z-index: 999;
}

.container {
  background-color: var(--light-grey);
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.close_btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 7px;
  z-index: 9;
  color: #fff;
  background-color: #1b243fd5;
  font-size: 1.8rem;
}

.close_btn:hover,
.close_btn:focus {
  color: #ec008c;
  cursor: pointer;
}

.img {
  width: 90%;
  height: 100%;
  margin: 0 auto 20px auto;
}

.content {
  width: 90%;
  margin: 20px auto 0 auto;
}

.name {
  font-family: "Bungee", cursive;
  font-size: 1.2rem;
}

.tech {
  display: flex;
  gap: 10px;
}

.tech_list {
  color: var(--cyan);
  font-size: 0.7rem;
  font-family: "Montserrat Alternates", sans-serif;
}

.tech_list:nth-child(2) {
  background: #11998e; /* fallback for old browsers */
  background:
    -webkit-linear-gradient(
      to top,
      #11998e,
      #38ef7d
    ); /* Chrome 10-25, Safari 5.1-6 */

  background:
    linear-gradient(
      to top,
      #11998e,
      #38ef7d
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tech_list:nth-child(3) {
  background: #ec008c; /* fallback for old browsers */
  background:
    -webkit-linear-gradient(
      to top,
      #ec008c,
      #fc6767
    ); /* Chrome 10-25, Safari 5.1-6 */

  background:
    linear-gradient(
      to top,
      #ec008c,
      #fc6767
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 0.8rem;
  margin: 10px auto;
}

.link {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 25px 0;
}

.btn_container {
  padding: 8px 10px;
  border: 2px solid var(--grey);
  font-size: 0.9rem;
  transition: 0.2s;
  position: relative;
  overflow: hidden;
}

.btn_hover,
.btn {
  transition: all 0.2s ease-out;
}

.btn_hover {
  position: absolute;
  top: 12px;
  left: 14px;
  opacity: 0;
  transform: translate(0, -100%);
}

.btn_container:hover,
.btn_container:focus {
  color: var(--cyan);
  border-color: var(--cyan);
}

.btn_container:hover .btn,
.btn_container:focus .btn {
  opacity: 0;
  transform: translate(0, 100%);
}

.btn_container:hover .btn_hover,
.btn_container:focus .btn_hover {
  opacity: 1;
  transform: translate(0, 0);
}

@media screen and (min-width: 768px) {
  .overlay {
    top: 73.5px;
  }

  .container {
    width: 652px;
  }

  .close_btn {
    font-size: 2rem;
  }

  .img {
    margin-bottom: 30px;
  }

  .name {
    font-size: 1.5rem;
  }

  .tech {
    gap: 15px;
  }

  .tech_list {
    font-size: 0.8rem;
  }

  .description {
    font-size: 1rem;
    margin: 20px auto;
  }

  .btn_container {
    font-size: 1.1rem;
    padding: 10px 14px;
  }

  .btn_hover {
    top: 10px;
    left: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    top: 0;
    z-index: 3;
  }

  .container {
    width: 600px;
  }

  .close_btn {
    font-size: 2.1rem;
    padding: 7px;
  }

  .img {
    margin-bottom: 20px;
  }

  .name {
    font-size: 1.3rem;
  }

  .tech {
    gap: 15px;
  }

  .tech_list {
    font-size: 0.8rem;
  }

  .description {
    font-size: 0.9rem;
    margin: 10px auto;
  }

  .btn_container {
    font-size: 1rem;
    padding: 8px 14px;
  }

  .btn_hover {
    top: 8px;
    left: 14px;
  }
}
