.overlay {
    position: fixed;
    top: 73.5px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.container {
    background-color: var(--light-grey);
    width: 85%;
    margin: 0px auto;
    position: relative;
}

.close_btn {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 1.25rem;
    color: var(--grey);
}

.close_btn:hover {
    color: var(--cyan);
    cursor: pointer;
}

.img {
    width: 90%;
    height: 100%;
    margin: 0px auto 20px auto;
    padding-top: 40px;
}

.content {
    width: 90%;
    margin: 0 auto;
}

.name {
    font-family: 'Bungee', cursive;
    font-size: 1.2rem;
}

.tech {
    display: flex;
    gap: 10px;
}

.tech_list {
    color: var(--cyan);
    font-size: 0.7rem;
    font-family: 'Montserrat Alternates', sans-serif;
}

.description {
    font-size: 0.8rem;
    margin: 10px auto;
}

.link {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 25px 0;
}

.btn {
    padding: 8px 10px;
    border: 1px solid var(--grey);
    font-size: 0.9rem;
    transition: 0.35s;
}

.btn:hover {
    box-shadow: inset -4rem 0 0 0 var(--navy), inset 4rem 0 0 0 var(--navy);
    color: var(--cyan);
    border: 1px solid var(--cyan);
}

@media screen and (min-width: 768px) {
    .container {
        width: 652px;
    }
    
    .close_btn {
        font-size: 1.8rem;
        right: 26px;
    }

    .img {
        padding-top: 50px;
        margin-bottom: 30px;
    }

    .name {
        font-size: 1.5rem;
    }

    .tech {
        gap: 15px;
    }

    .tech_list {
        font-size: 0.8rem;
    }

    .description {
        font-size: 1rem;
        margin: 20px auto;
    }

    .btn {
        font-size: 1.1rem;
        padding: 10px 14px;
    }
}

@media screen and (min-width: 1200px) {
    .overlay {
        top: 0;
        z-index: 999;
    }

    .container {
        width: 600px;
    }

    .close_btn {
        font-size: 1.5rem;
        right: 26px;
        top: 8px;
    }

    .img {
        padding-top: 40px;
        margin-bottom: 20px;
    }

    .name {
        font-size: 1.3rem;
    }

    .tech {
        gap: 15px;
    }

    .tech_list {
        font-size: 0.8rem;
    }

    .description {
        font-size: 0.9rem;
        margin: 10px auto;
    }

    .btn {
        font-size: 1rem;
        padding: 8px 14px;
    }
}