.title {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    position: relative;
    padding: 8px 0;
    margin-top: 60px;
    margin-bottom: 25px;
}
  
.title::after {
  content: "";
  background-color: var(--white);
  width: 60px;
  height: 2.5px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.subtitle {
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Montserrat Alternates', sans-serif;
  color: var(--white);
}

.card_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
}

.tilt {
  width: 94%;
}

.card_shadow {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #b1bcdc 1.9%, #0086ce 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #b1bcdc 1.9%, #0086ce 97.5%);
  padding: 1px;
  width: 100%;
  /* border-radius: 60px 10px; */
  border-radius: 30px;
}
  
.card_shadow:hover {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #0086ce 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #0086ce 97.5%);
}

.card {
  background-color: var(--dark-blue);
  height: auto;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.img_container {
  width: 170px;
  height: 170px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--cyan);
}

.text {
  font-size: 0.85rem;
  text-align: justify;
  color: var(--white);
}

@media screen and (min-width: 480px) {
  .title {
    font-size: 1.9rem;
  }

  .tilt {
    width: 400px;
  }

  .card {
    padding: 20px 25px;
  }

  .name {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .card_container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .tilt {
    width: 325px;
  }

  .name {
    font-size: 1.2rem;
  }

  .text {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 2.3rem;
  }

  .title::after {
    width: 80px;
  }

  .card_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .tilt {
    width: 325px;
  }

  .card {
    padding: 20px 15px;
    height: 310px;
  }

  .img_container {
    width: 110px;
    height: 110px;
    margin-bottom: 10px;
    align-items: flex-start;
  }

  .name {
    font-size: 0.95rem;
  }

  .text {
    text-align: left;
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .card_container {
    gap: 30px;
  }

  .card {
    height: 290px;
    padding: 20px;
  }

  .img_container {
    width: 110px;
    height: 110px;
    margin-bottom: 0px;
  }

  .name {
    font-size: 1.05rem;
  }

  .text {
    text-align: center;
    font-size: 0.8rem;
  }
}