.title {
  width: 89%;
  font-size: 14.5px;
  word-spacing: 0.13rem;
  text-align: left;
  color: var(--grey);
  margin: 50px auto;
}

.btn_container {
  width: 89%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0 auto 25px auto;
  color: var(--white);
}

.btn_container button {
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 5px 0;
}

.btn_active {
  color: #fff;
  text-transform: capitalize;
  background-color: var(--cyan) !important;
}

.tech_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 0;
  margin: 30px auto;
}

.tech {
  width: 85px;
  height: 90px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: #fff;
  position: relative;
  transition: background-color 0.3s ease-out;
}

.tech_img {
  position: absolute;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 480px) {
  .title {
    font-size: 15px;
  }
}

@media screen and (min-width: 545px) {
  .tech_container {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 16px;
    text-align: center;
  }

  .btn_container button {
    font-size: 0.9rem;
    padding: 7px 0;
  }

  .tech_container {
    width: 89%;
    height: 305px;
    gap: 13px;
  }

  .tech {
    width: 90px;
    height: 93px;
  }
}

@media screen and (min-width: 1024px) {
  .btn_container {
    width: 820px;
  }

  .tech_container {
    width: 830px;
    height: 166px;
    gap: 0 13px;
  }

  .tech {
    width: 80px;
    height: 83px;
    background-color: var(--cyan);
  }

  .tech:hover {
    cursor: pointer;
    background-color: var(--navy);
  }

  .tech_img {
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
  }

  .tech:hover .tech_img {
    mix-blend-mode: normal;
    filter: none;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 17px;
  }

  .btn_container {
    width: 70%;
  }

  .btn_container button {
    font-size: 1rem;
  }

  .tech_container {
    width: 970px;
    height: 185px;
    gap: 0 20px;
  }

  .tech {
    width: 90px;
    height: 93px;
  }

  .tech_img {
    width: 60%;
    height: 60%;
  }
}

@media screen and (min-width: 1400px) {
  .tech_container {
    width: 1062px;
    height: 208px;
  }

  .tech {
    width: 100px;
    height: 103px;
  }
}
