.title {
    font-size: 1.8rem;
    text-align: center;
    position: relative;
    padding: 40px 0 8px 0;
    margin-bottom: 25px;
}

.title::after {
    content: "";
    background-color: var(--white);
    width: 60px;
    height: 2.5px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.subtitle {
    text-align: center;
    font-size: 0.9rem;
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--white);
}

.card_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
}

.card_shadow {
    background: "#00cea8";
  background: linear-gradient(90.13deg, #0086ce 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #0086ce 1.9%, #bf61ff 97.5%);
    padding: 1px;
    border-radius: 20px;
    width: 85%;
}

.card {
    background-color: var(--dark-blue);
    border-radius: 20px;
    padding: 20px;
}

.openquote {
    margin: 15px 0 25px 0;
    font-size: 1.2rem;
    color: var(--white);
}

.para {
    font-size: 0.9rem;
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--white);
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.country {
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--white);
}

.icon {
    font-size: 1.2rem;
    color: var(--cyan);
    transition: transform 0.5 ease-in-out;
}

.icon:hover {
    transform: translateY(-15%);
    cursor: pointer;
}

@media screen and (min-width: 480px) {
    .title {
        font-size: 1.9rem;
    }

    .card_shadow {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 2rem;
    }

    .card_shadow {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .title {
        font-size: 2.3rem;
        padding-top: 100px;
    }

    .title::after {
        width: 80px;
    }

    .card_container {
        flex-direction: row;
        padding-bottom: 80px;
    }

    .card_shadow {
        width: 30%;
    }

    .name {
        font-size: 1.05rem;
    }

    .para {
        height: 260px;
    }

    .icon {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1400px) {
    .card_container {
        gap: 40px;
    }

    .card_shadow {
        width: 28.5%;
    }

    .para {
        height: 220px;
    }

    .name {
        font-size: 1.1rem;
    }

    .country {
        font-size: 1rem;
    }

    .icon {
        font-size: 1.4rem;
    }
}