.container {
    background-color: var(--light-grey);
    border-radius: 20px;
}

.title {
    font-size: 1.4rem;
    text-align: center;
    position: relative;
    padding: 40px 0 8px 0;
    margin-top: 150px;
    margin-bottom: 25px;
}

.title::after {
    content: "";
    background-color: var(--white);
    width: 60px;
    height: 2.5px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.subtitle {
    text-align: center;
    font-size: 1rem;
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--grey);
}

.card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
}

.card_shadow {
    background: "#00cea8";
  background: linear-gradient(90.13deg, #0086ce 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #0086ce 1.9%, #bf61ff 97.5%);
    padding: 1px;
    border-radius: 20px;
    width: 85%;
}

.card {
    background-color: var(--dark-blue);
    border-radius: 20px;
    padding: 20px;
}

.openquote {
    margin: 15px 0 25px 0;
    font-size: 1.2rem;
    color: var(--white);
}

.para {
    font-size: 0.9rem;
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--white);
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.icon {
    font-size: 1.2rem;
}

.icon:hover {
    color: var(--cyan);
}

@media screen and (min-width: 480px) {
    .card_shadow {
        width: 70%;
    }
}