.title {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  position: relative;
  padding: 8px 0;
  margin: 60px auto;
}

.title::after {
  content: "";
  background-color: var(--white);
  width: 60px;
  height: 2.5px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.project_container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1px;
  padding: 0 10px;
}

.card {
  aspect-ratio: 4 / 3;
  position: relative;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.25s ease-in-out;
}

.card_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.45s ease-in-out;
}

.card:hover .img {
  transform: scale(1.1);
  opacity: 0.5;
}

.card:hover .card_overlay {
  opacity: 1;
}

.card_text {
  background-color: var(--navy);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card:hover .card_text {
  animation: fade-in 0.3s ease-in-out;
}

@keyframes fade-in {
  0% {
    background-color: rgba(3, 11, 37, 0.1);
  }

  25% {
    background-color: rgba(3, 11, 37, 0.25);
  }

  50% {
    background-color: rgba(3, 11, 37, 0.5);
  }

  75% {
    background-color: rgba(3, 11, 37, 0.75);
  }

  100% {
    background-color: rgba(3, 11, 37, 1);
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover .text {
  animation: slide-down 0.3s ease-out;
}

@keyframes slide-down {
  from {
    transform: translateY(-150%);
    opacity: 0.5;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}

.name {
  font-family: "Bungee", cursive;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.tech {
  display: flex;
  gap: 10px;
}

.tech_list {
  font-size: 0.7rem;
  font-family: "Montserrat Alternates", sans-serif;
  color: var(--cyan);
}

.tech_list:nth-child(2) {
  background: #11998e; /* fallback for old browsers */
  background:
    -webkit-linear-gradient(
      to top,
      #11998e,
      #38ef7d
    ); /* Chrome 10-25, Safari 5.1-6 */

  background:
    linear-gradient(
      to top,
      #11998e,
      #38ef7d
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tech_list:nth-child(3) {
  background: #ec008c; /* fallback for old browsers */
  background:
    -webkit-linear-gradient(
      to top,
      #ec008c,
      #fc6767
    ); /* Chrome 10-25, Safari 5.1-6 */

  background:
    linear-gradient(
      to top,
      #ec008c,
      #fc6767
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn_container {
  font-size: 0.9rem;
  color: var(--white);
  border: 2px solid var(--grey);
  padding: 8px 12px;
  text-transform: uppercase;
  transition: 0.2s;
  position: relative;
  overflow: hidden;
}

.btn_hover,
.btn {
  transition: all 0.2s ease-out;
}

.btn_hover {
  position: absolute;
  top: 10px;
  left: 14px;
  opacity: 0;
  transform: translate(0, -100%);
}

.btn_container:hover,
.btn_container:focus {
  color: var(--cyan);
  border-color: var(--cyan);
}

.btn_container:hover .btn,
.btn_container:focus .btn {
  opacity: 0;
  transform: translate(0, 100%);
}

.btn_container:hover .btn_hover,
.btn_container:focus .btn_hover {
  opacity: 1;
  transform: translate(0, 0);
}

.card:hover .btn_container {
  animation: slide-up 0.3s ease-out;
}

@keyframes slide-up {
  from {
    transform: translateY(150%);
    opacity: 0.5;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}

@media screen and (min-width: 480px) {
  .title {
    font-size: 1.9rem;
  }

  .title::after {
    width: 70px;
  }

  .project_container {
    padding: 0 30px;
  }

  .card_text {
    gap: 50px;
  }

  .name {
    font-size: 1.35rem;
    margin-bottom: 5px;
  }

  .tech_list {
    font-size: 0.7rem;
  }

  .btn_container {
    font-size: 1rem;
    padding: 11px 16px;
  }

  .btn_hover {
    top: 11px;
    left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .project_container {
    grid-template-columns: auto auto;
    padding: 0 20px;
  }

  .name {
    font-size: 1.25rem;
  }

  .btn_container {
    font-size: 0.9rem;
    padding: 10px 14px;
  }

  .btn_hover {
    top: 10px;
    left: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .project_container {
    padding: 0;
    width: 830px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 2.3rem;
    margin-top: 110px;
  }

  .title::after {
    width: 80px;
  }

  .project_container {
    width: 970px;
    grid-template-columns: auto auto auto;
  }

  .name {
    font-size: 1.3rem;
  }

  .btn_hover {
    top: 11px;
    left: 16px;
  }
}

@media screen and (min-width: 1400px) {
  .project_container {
    width: 1062px;
  }

  .card_text {
    gap: 60px;
  }

  .name {
    font-size: 1.35rem;
  }

  .tech_list {
    font-size: 0.8rem;
  }
}
