@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Outline&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

:root {
  --navy: #030b25;
  --cyan: #22abfa;
  --white: #dfe7f3;
  --grey: #b1bcdc;
  --light-grey: #1b243f;
  --dark-blue: #010612;
}

::-webkit-scrollbar {
  width: 8.5px;
  height: 0px;
  background-color: var(--dark-blue);
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-grey);
  border-radius: 8px;
}

.green-pink-gradient {
  background: "#00cea8";
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.grey-gradient {
  background: #3f4e85;
  background: -webkit-linear-gradient(
    -90deg,
    #3f4e85 0%,
    rgba(51, 53, 80, 0) 100%
    );
  background: linear-gradient(-90deg, #3f4e85 0%, rgba(51, 53, 80, 0) 100%);
}

.contact {
  width: 100%;
  background-image: url('/src/assets/hole-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 60px;
}