@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
  background-color: var(--bg-color);
}

:root {
  --bg-color: rgb(3, 9, 37);
  --logo-color: #00aaff;
}

::-webkit-scrollbar {
  width: 8.5px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: #191a2c;
  border-radius: 8px;
}

/* .starCanvas {
  position: absolute;
  z-index: 0;
} */